In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
df= pd.read_csv("credit_customers (DS).csv")
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [54]:
#Data Preprocessing
df.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: float64(7), object(14)
memory usage: 164.2+ KB

In [56]:
#Handling duplicate records
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [57]:
#Their Is No Duplicacy in above Dataframe

In [58]:
# removing the unnecessary columns
df=df.drop(['personal_status','other_parties','other_payment_plans','own_telephone','foreign_worker','purpose','checking_status'],axis=1)

In [59]:
df.head()

,duration,credit_history,credit_amount,savings_status,employment,installment_commitment,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,class
0,6.0,critical/other existing credit,1169.0,no known savings,>=7,4.0,4.0,real estate,67.0,own,2.0,skilled,1.0,good
1,48.0,existing paid,5951.0,<100,1<=X<4,2.0,2.0,real estate,22.0,own,1.0,skilled,1.0,bad
2,12.0,critical/other existing credit,2096.0,<100,4<=X<7,2.0,3.0,real estate,49.0,own,1.0,unskilled resident,2.0,good
3,42.0,existing paid,7882.0,<100,4<=X<7,2.0,4.0,life insurance,45.0,for free,1.0,skilled,2.0,good
4,24.0,delayed previously,4870.0,<100,1<=X<4,3.0,4.0,no known property,53.0,for free,2.0,skilled,2.0,bad

In [60]:
print(df.shape)

(1000, 14)

In [61]:
#select x and y
x=df.iloc[:,:-1] # every column except the last i.e. class column
y=df.iloc[:,-1] # only class column
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)
df.head()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(1000, 13)
(1000,)

,duration,credit_history,credit_amount,savings_status,employment,installment_commitment,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,class
0,6.0,critical/other existing credit,1169.0,no known savings,>=7,4.0,4.0,real estate,67.0,own,2.0,skilled,1.0,good
1,48.0,existing paid,5951.0,<100,1<=X<4,2.0,2.0,real estate,22.0,own,1.0,skilled,1.0,bad
2,12.0,critical/other existing credit,2096.0,<100,4<=X<7,2.0,3.0,real estate,49.0,own,1.0,unskilled resident,2.0,good
3,42.0,existing paid,7882.0,<100,4<=X<7,2.0,4.0,life insurance,45.0,for free,1.0,skilled,2.0,good
4,24.0,delayed previously,4870.0,<100,1<=X<4,3.0,4.0,no known property,53.0,for free,2.0,skilled,2.0,bad

In [62]:
#splitting the data into train_test
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_train.shape)
df.head()

(750, 13)
(250, 13)
(750,)
(750,)

,duration,credit_history,credit_amount,savings_status,employment,installment_commitment,residence_since,property_magnitude,age,housing,existing_credits,job,num_dependents,class
0,6.0,critical/other existing credit,1169.0,no known savings,>=7,4.0,4.0,real estate,67.0,own,2.0,skilled,1.0,good
1,48.0,existing paid,5951.0,<100,1<=X<4,2.0,2.0,real estate,22.0,own,1.0,skilled,1.0,bad
2,12.0,critical/other existing credit,2096.0,<100,4<=X<7,2.0,3.0,real estate,49.0,own,1.0,unskilled resident,2.0,good
3,42.0,existing paid,7882.0,<100,4<=X<7,2.0,4.0,life insurance,45.0,for free,1.0,skilled,2.0,good
4,24.0,delayed previously,4870.0,<100,1<=X<4,3.0,4.0,no known property,53.0,for free,2.0,skilled,2.0,bad

In [63]:
from sklearn.preprocessing import LabelEncoder

# for other attributes
le_credit_history= LabelEncoder()
le_savings_status=LabelEncoder()
le_employment=LabelEncoder()
le_property_magnitude=LabelEncoder()
le_housing=LabelEncoder()
le_job = LabelEncoder()

le_class = LabelEncoder() # for target attribute

# Renaming the converted attributes

df['credit_history_n']= le_credit_history.fit_transform(df['credit_history'])
df['savings_status_n'] = le_savings_status.fit_transform(df['savings_status'])
df['employment_n'] = le_employment.fit_transform(df['employment'])
df['property_magnitude_n'] = le_property_magnitude.fit_transform(df['property_magnitude'])
df['housing_n'] = le_housing.fit_transform(df['housing'])
df['job_n'] = le_job.fit_transform(df['job'])

df['class_n'] = le_class.fit_transform(df['class'])

df.drop(['credit_history','savings_status','employment','property_magnitude','housing','job','class'], axis= 'columns' , inplace=True)
df.head()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,credit_history_n,savings_status_n,employment_n,property_magnitude_n,housing_n,job_n,class_n
0,6.0,1169.0,4.0,4.0,67.0,2.0,1.0,1,4,3,3,1,1,1
1,48.0,5951.0,2.0,2.0,22.0,1.0,1.0,3,2,0,3,1,1,0
2,12.0,2096.0,2.0,3.0,49.0,1.0,2.0,1,2,1,3,1,3,1
3,42.0,7882.0,2.0,4.0,45.0,1.0,2.0,3,2,1,1,0,1,1
4,24.0,4870.0,3.0,4.0,53.0,2.0,2.0,2,2,0,2,0,1,0

In [64]:
x = df.iloc[:,:-1] #dep
y = df.iloc[:,-1]  #ind
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(1000, 13)
(1000,)

In [65]:
#splitting the dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(750, 13)
(250, 13)
(750,)
(250,)

In [66]:
#logisticRegression
from sklearn.linear_model import LogisticRegression
m1= LogisticRegression(solver="liblinear")
m1.fit(x_train,y_train)
#accuracy
print('Train_score',m1.score(x_train,y_train))
print('Test_score',m1.score(x_test,y_test))

Train_score 0.7026666666666667
Test_score 0.736

In [67]:
# predicting class for test dataset
ypred_m1 = m1.predict(x_test)
print(ypred_m1)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1]

In [68]:
# generating confusion matrix & classification report
from sklearn.metrics import confusion_matrix, classification_report
confusion_m1 = confusion_matrix(y_test,ypred_m1)
print(confusion_m1)
print(classification_report(y_test,ypred_m1))
#calculating the accuracy
accuracy_model1 = m1.score(x_test,y_test)
accuracy_model1

[[  8  61]
 [  5 176]]
              precision    recall  f1-score   support

           0       0.62      0.12      0.20        69
           1       0.74      0.97      0.84       181

    accuracy                           0.74       250
   macro avg       0.68      0.54      0.52       250
weighted avg       0.71      0.74      0.66       250

0.736

In [69]:
# Applying KNN Classifer
from sklearn.neighbors import KNeighborsClassifier

m2 = KNeighborsClassifier(n_neighbors=85)
m2.fit(x_train,y_train)
# calculating the accuracy
print('Train_score',m2.score(x_train,y_train))
print('Test_score',m2.score(x_test,y_test))

Train_score 0.692
Test_score 0.724

In [70]:
# predicting class for test dataset
ypred_m2 = m2.predict(x_test)
print(ypred_m2)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [71]:
# generating confusion matrix and classification report

confusion_m2 = confusion_matrix(y_test,ypred_m2)
print(confusion_m2)
print(classification_report(y_test,ypred_m2))
#calculating the accuracy
accuracy_model2 = m2.score(x_test,y_test)
accuracy_model2

[[  0  69]
 [  0 181]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        69
           1       0.72      1.00      0.84       181

    accuracy                           0.72       250
   macro avg       0.36      0.50      0.42       250
weighted avg       0.52      0.72      0.61       250

C:\Users\vaish\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\vaish\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\vaish\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.724

In [72]:
# SVM with linear(SVC) kernel
from sklearn.svm import SVC
m3_linear = SVC(kernel = 'linear',C= 10)
m3_rbf = SVC(kernel = 'rbf', C=1.0, gamma='scale')
m3_linear.fit(x_train,y_train)
m3_rbf.fit(x_train,y_train)
#accuracy with linear kernel
print('Train_score',m3_linear.score(x_train,y_train))
print('Test_score',m3_linear.score(x_test,y_test))
#accuracy with rbf kernel
print('Train_score',m3_rbf.score(x_train,y_train))
print('Test_score',m3_rbf.score(x_test,y_test))

Train_score 0.688
Test_score 0.696
Train_score 0.7013333333333334
Test_score 0.74

In [73]:
# predicting class for test dataset
ypred_m3_linear = m3_linear.predict(x_test) # with linear
print(ypred_m3_linear)
ypred_m3_rbf = m3_rbf.predict(x_test) #rbf
print(ypred_m3_rbf)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0]
[1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [74]:
# generating confusion matrix and classification report
# with linear kernel
confusion_m3_lin = confusion_matrix(y_test,ypred_m3_linear)
print(confusion_m3_lin)
print(classification_report(y_test,ypred_m3_linear))
#calculating the accuracy
accuracy_model3_lin = m3_linear.score(x_test,y_test)
accuracy_model3_lin

[[  5  64]
 [ 12 169]]
              precision    recall  f1-score   support

           0       0.29      0.07      0.12        69
           1       0.73      0.93      0.82       181

    accuracy                           0.70       250
   macro avg       0.51      0.50      0.47       250
weighted avg       0.61      0.70      0.62       250

0.696

In [75]:
# with linear kernel
confusion_m3_rbf = confusion_matrix(y_test,ypred_m3_rbf)
print(confusion_m3_rbf)
print(classification_report(y_test,ypred_m3_rbf))
#calculating the accuracy
accuracy_model3_rbf = m3_rbf.score(x_test,y_test)
accuracy_model3_rbf

[[  6  63]
 [  2 179]]
              precision    recall  f1-score   support

           0       0.75      0.09      0.16        69
           1       0.74      0.99      0.85       181

    accuracy                           0.74       250
   macro avg       0.74      0.54      0.50       250
weighted avg       0.74      0.74      0.66       250

0.74

In [76]:
# Reporting the best acurracy
best_model = max(accuracy_model1,accuracy_model2,accuracy_model3_lin,accuracy_model3_rbf)
if (best_model == accuracy_model1):
    print("Logistic Regression has the best accuracy of", accuracy_model1 * 100 ," % for the given dataset")
if (best_model == accuracy_model2):
    print("KNN has the best accuracy of", accuracy_model2 * 100," % for the given dataset")
if (best_model == accuracy_model3_lin):
    print("SVM has the best accuracy of", accuracy_model3_lin * 100,"% with linear kernel for the given dataset")
if (best_model == accuracy_model3_rbf):
    print("SVM has the best accuracy of", accuracy_model3_rbf * 100,"% with RBF kernel for the given dataset")

SVM has the best accuracy of 74.0 % with RBF kernel for the given dataset